[buildout]
parts = ndgoauthclient ndgoauthclient_wsgi
newest = false
#find-links = ${buildout:directory}/lib/python2.6/site-packages
#             http://ndg.nerc.ac.uk/dist
find-links = /home/rwilkinson_local/dev/ndg_httpsclient/dist/ndg_httpsclient-0.2.1-py2.6.egg
             /home/rwilkinson_local/dev/trunk/ndg_oauth/ndg_oauth_client/dist/ndg_oauth_client-0.2.0_r8030-py2.6.egg
             /home/rwilkinson_local/dev/trunk/ndg_xacml/dist/ndg_xacml-0.4.2dev-py2.6.egg
             /home/rwilkinson_local/dev/trunk/ndg_saml/dist/ndg_saml-0.5.6dev-py2.6.egg
             /home/rwilkinson_local/dev/trunk/ndg_security/python/ndg_security_common/dist/ndg_security_common-2.2.4dev-py2.6.egg
             /home/rwilkinson_local/dev/trunk/ndg_security/python/ndg_security_server/dist/ndg_security_server-2.2.4dev-py2.6.egg

log-level=DEBUG
use-dependency-links = false

[ndgoauthclient]
recipe = zc.recipe.egg
interpreter = py
eggs =
  AuthKit==0.4.5
  Beaker==1.6.2
  M2Crypto==0.21.1
  Paste==1.7.5.1
  PasteDeploy==1.5.0
  PasteScript==1.7.5
  SQLAlchemy==0.7.5
  WebOb==1.2b3
  decorator==3.3.2
  elementtree==1.2.7-20070827-preview
  ndg-httpsclient
  ndg-oauth-client
  ndg-saml
  ndg-security-common
  ndg-security-server
  ndg-xacml
  nose==1.1.2
  pyOpenSSL==0.13
  pyasn1==0.1.2
  python-openid==2.2.5
  wsgiref==0.1.2

# These eggs are sufficient if NDG Security is not needed:
[ndgoauthclient_without_proxy]
recipe = zc.recipe.egg
interpreter = py
eggs =
  Beaker==1.6.2
  Paste==1.7.5.1
  PasteDeploy==1.5.0
  PasteScript==1.7.5
  WebOb==1.2b3
  ndg-httpsclient
  ndg-oauth-client
  pyOpenSSL==0.13
  pyasn1==0.1.2
  wsgiref==0.1.2

[ndgoauthclient_wsgi]
recipe = collective.recipe.modwsgi
eggs = ${ndgoauthclient:eggs}
config-file = ${buildout:directory}/development.ini
